#container
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#top
{
    display:flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border: black 1px solid;
    border-radius: 5px;
    font-weight: bold;
  
   
   

}

#center
{
    display:flex;
   
    justify-content: center;
    text-align: center;

    
}

#bottom
{
    display:flex;
    justify-content: center;
   font-weight: bold;
}

nav .nav-link
{
    color:black;
    text-decoration: none;

}
a:hover
{
  
    text-decoration: underline;
}

body
{
    
    background: linear-gradient(90deg, rgba(0,80,242,1) 0%, rgba(255,255,255,1) 49%, rgba(255,0,0,1) 100%);
    
    
}

img
{
   
    border: 10px solid white; /* Bordure intérieure blanche */
    clip-path: polygon(
        0% 5%, 5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%
    ); /* Effet dents de scie */
    background: white; /* Couleur autour de l'image */
    outline: 2px dashed black; /* Ajout d'une bordure extérieure */
}