{% extends "layout.html" %}

{% block title %}
 Change password
{% endblock %}

{% block content %}
    <h2 class="title">Password Change</h2>
    <div class="c-form">
    <form action="/pswd_change" method="post">

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder=" New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Validate</button>
    </form>
</div>
    
{% endblock %}