{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}


{% block content %}
<div class="pannel">
  <div class="card">
    <div class="card-header">
      Lesson 1
    </div>
    <div class="card-body">
      <h5 class="card-title">Basic Vocabulary 1</h5>
      <p class="card-text">A list of 10 words to get you started</p>
      <a href="/lesson1" class="btn btn-primary">Let's go !</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Quizz 1
    </div>
    <div class="card-body">
      <h5 class="card-title">Basic Vocabulary 1</h5>
      <p class="card-text">Your first quizz !</p>
      <a href="/quizz1" class="btn btn-primary">Let's go !</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Lesson 2
    </div>
    <div class="card-body">
      <h5 class="card-title">Basic Vocabulary 2</h5>
      <p class="card-text">A list of 10 everyday words</p>
      <a href="/lesson2" class="btn btn-primary">Let's go !</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       Quizz 2
    </div>
    <div class="card-body">
        <h5 class="card-title">Basic Vocabulary 2</h5>
        <p class="card-text">Quizz number 2 ! Good luck !</p>
        <a href="/quizz2" class="btn btn-primary">Let's go !</a>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
       Lesson 3
    </div>
    <div class="card-body">
        <h5 class="card-title">French personnal pronouns</h5>
        <p class="card-text">Understanding personnal pronouns in french and the agreement between gender and number</p>
        <a href="/lesson3" class="btn btn-primary">Let's go !</a>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Quizz 3
    </div>
    <div class="card-body">
        <h5 class="card-title">French personnal pronouns</h5>
        <p class="card-text">Use the correct pronouns</p>
        <a href="/quizz3" class="btn btn-primary">Let's go !</a>
    </div>
  </div>  
</div>


{% endblock %}