{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}


{% block content %}

  {% for word, details in vocabulary.items() %}
  <div class="lesson">
  <div class="vocab-item">
      <h2>{{ word }}</h2>
      <p>Translation: {{ details.translation }}</p>
      <audio controls>
        <source src="{{ url_for('static', filename=details.pronunciation) }}" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
      <p>Context: {{details.context}}</p>
  </div>
</div>
{% endfor %}



{% endblock %}