{% extends "layout.html" %}
{% block title %}
Lesson 3
{% endblock %}


{% block content %}

<h1 class="lesson-title">French Personal Pronouns</h1>
<table id="pp">
    <thead>
        <tr>
            <th>Person</th>
            <th>Singular</th>
            <th>Plural</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1st Person</td>
            <td>je (<em>I</em>)</td>
            <td>nous (<em>we</em>)</td>
        </tr>
        <tr>
            <td>2nd Person</td>
            <td>tu (<em>you</em>)</td>
            <td>vous (<em>you, formal or plural</em>)</td>
        </tr>
        <tr>
            <td>3rd Person</td>
            <td>il (<em>he/it</em>), elle (<em>she/it</em>), on (<em>one/we</em>)</td>
            <td>ils (<em>they, masculine or mixed</em>), elles (<em>they, feminine</em>)</td>
        </tr>
    </tbody>
</table>
<div class="core">
<div>
<h2 class="word">Examples of Usage</h2>
</div>
<div>
<ol>
    <li>Singular Pronouns</li>
    <ul>
        <li>Je mange une pomme.(I eat an apple. -je refers to the speaker.)</li>
        <li>Tu lis un livre.(You read a book. -tu refers to the person being addressed informally.)</li>
        <li>Il joue au football.(He plays football. il refers to a male person or object.)</li>
    </ul>
    <li>Plural Pronouns</li>
    <ul>
        <li>Nous allons au cinéma.(We go to the cinema. -nous includes the speaker and others.)</li>
        <li>Vous travaillez beaucoup.(You work a lot.-vous can mean "you all" or a polite "you".)</li>
        <li>Ils dansent bien.(They dance well. -ils refers to a group of males or a mixed group.)</li>
    </ul>
    
</ol>
</div>
</div>

<div class="core">
    <div>
    <h2 class="word">Key points to remember</h2>
    </div>
    <div>
    <ol>
        <li>"TU" vs "VOUS"</li>
        <ul>
            <li>Tu: Used for informal conversations with friends,family, or someone close.</li>
            <li>VOus: Used for formal situations, or when addressing more than one person.</li>
          
        </ul>
        <li>The pronoun "On"</li>
        <ul>
            <li>"On" often replaces "nous" in informal French.</li> 
            <li><I>Example:On va au parc.(We are goins to the park.)</I></li>
            
        </ul>
        <li>Agreement with Gender and Number</li>
        <ul>
            <li>Pronouns must agree with the gender (masculine/feminine) and number (singular/plural) of the noun they replace.</li> 
            <li><I>Example: Elles sont parties. (They left. – elles is feminine plural, so the verb agrees.)</I></li>
            
        </ul>
        
    </ol>
    </div>
    </div>
<div class="c-button">

  <button class="btn-next">
    <a href="/quizz2">Go to Quizz</a>
  </button>
  </div>
</div>
{% endblock %}
