{% extends "layout.html" %}

{% block title %}
Lesson1
{% endblock %}


{% block content %}
<div class="container">
  <div class="c-title">
    <h1 class="lesson-title">Lesson 1</h1>
  </div>
  
  <div class="lesson">
    {% for word, details in vocabulary.items() %}
      <div class="vocab-item">
        <h2 class="word">{{ word }}</h2>
        <p>{{ details.translation }}</p>
        <audio controls>
          <source src="{{ url_for('static', filename=details.pronunciation) }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <p>Context: {{ details.context }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="c-button">
  <button class="btn-next">
    <a href="/quizz1">Go to Quizz</a>
  </button>
  </div>
</div>
{% endblock %}
