{% extends "layout.html" %}

{% block title %}
Quizz 1
{% endblock %}



{% block content %}
<h1 class="lesson-title">Quiz 1</h1>
<div class="questionnaire">

<h2 class="question word">{{question}}</h2>

<form method="POST" >
    <input type="hidden" name="question" value="{{ question }}"/>
    <div class="answers">
    
    {% for answer in answers %}
    <div>
    <label for="choice{{loop.index}}">{{answer}}</label>
    <input type="radio" id="choice{{loop.index}}" name="choice" value="{{answer}}"/>
    </div>
    {% endfor %}
    
    </div>
    <button type="submit" class="btn-next">Validate</button>
    
</form> 
<h2 class="word">{{score}}/10</h2>
</div>

{% endblock %}